style_detector/checkpoints
style_detector/dataset/__pycache__/
style_detector/model/__pycache__/
style_detector/notebook
style_detector/temp
style_detector/wandb
style_detector/corpus/temp
models
style_detector/models

rl/.ipynb_checkpoints
rl/model
rl/output
rl/reward/__pycache__
rl/reward/.ipynb_checkpoints
rl/src/**/__pycache__/
rl/tests/**/__pycache__/

.ipynb_checkpoints/
.idea/
__pycache__/
